
body {
	font-family: Microsoft YaHei;
}

#vr-output {
	display: none;
}

.model {

	&_panel {
		
		&-title {
			position: absolute;
			z-index: 10;
			top: 30px;
			left: 50px;

			padding: 5px 0;
			width: 104px; 
			margin: 0;
			font-size: 10px;
			color: #fff;
			text-align: center;
			font-weight: 400;
		}

	}

	&_container {

		position: absolute;
		z-index: 10;
		top: 56px;
		bottom: 30px;
		left: 50px;
		overflow-y: scroll;
		overflow-x: hidden;

		&::-webkit-scrollbar {
			display: none;
		}


	}

	&_list {
		width: 104px;
		box-shadow: 0px 0px 10px rgba(#fff, 0.5);

		&:after {
			content: '';
			display: block;
			clear: both;
		}
	}

	&_item {
		float: left;
		padding: 5px 5px 0;
		margin-right: 2px;
		margin-bottom: 2px;
		// border-radius: 1px;
		background-color: rgba(#fff, 0.2);

		&:last-child {
			margin-bottom: 0;
		}

		&.active {
			background-color: rgba(#0434b9, 0.6);
		}
	
		&-photo {
			width: 40px;
			height: 40px;
			background-color: #fff;
			border-radius: 2px;
		} 

		&-title {
			padding: 2px 0;
			font-size: 10px;
			color: #fff;
			text-align: center;
		}
	}
  
}

.progress {

	&_container {
		display: none;
	}

	&_mask {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: 100;
	}

	&_bar {
		position: absolute;
		left: 50%;
		top: 50%;
		margin-left: -100px;
		width: 200px;
		transform: translateY(-50%);
		z-index: 10	1;
	}

	&_line {
		width: 100%;
		height: 5px;
		background-color: rgba(#fff, 0.2);

		&-current {
			background-color: #fff;
			height: 100%;
			width: 30%;
		}
	}

	&_text {
		color: #fff;
		text-align: center;
		font-size: 10px;
		margin: 5px 0;
	}
}

.mode {

	&_selector {
		display: none;
		position: absolute;
		bottom: 30px;
		right: 50px;
		font-size: 0;
		background-color: rgba(#fff, 0.2);
		border-radius: 2px;
	}

	&_item {
		display: inline-block;
		width: 36px;
		height: 36px;

		&.mobile {
			background: url('/assets/images/mode_mobile.png') no-repeat center;
			background-size: 20px 20px;
		}

		&.vr {
			background: url('/assets/images/mode_vr.png') no-repeat center;
			background-size: 20px 20px;
		}

		&.active {
			background-color: rgba(#0434b9, 0.6);
		}



	}

}

.tip {
	display: none;
	position: absolute;
	top: 20px;
	left: 50%;
	transform: translateX(-50%);
	padding: 5px 20px;
	background-color: rgba(#fff, 0.2);
	border-radius: 1px;
	box-shadow: 0 0 5px rgba(#fff, 0.5);
	z-index: 102;

	&_text {
		color: #fff;
		font-size: 12px;
	}

}